@import "@/styles/variables.module";

.main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: rgb($color-secondary);
  width: calc($width-day-element * 7 + $gap-day-picker * 8);
  gap: 20px;

  .mainOptions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 $gap-day-picker;

    .button {
      padding: 5px 10px;
    }

    .mainOptionsLeft {
      display: flex;
      justify-content: left;
      width: 20%;
    }

    .mainOptionsCenter {
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }

    .mainOptionsRight {
      display: flex;
      justify-content: right;
      width: 20%;

      .svg {
        cursor: pointer;
        height: 100%;

        &:hover {
          .icon {
            color: #1e96ff;
          }
        }
      }
    }
  }

  .mainWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    padding-bottom: 5px;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));

    .mainWrapperFloating {
      display: flex;
      gap: $gap-day-picker;
    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    width: calc($width-day-element * 5 + $gap-day-picker * 6);
  }
}
