@import "@/styles/variables.module";

.overflow {
  .dialog {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;

    &.dialogUp {
      transform: translateY(-50%);
    }

    .dialogTitle {
      @include font-medium-bold;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .inputContainer {
        display: flex;
        gap: 20px;
      }

      .buttonsContainer {
        display: flex;
        justify-content: space-between;

        .sideButtonsContainer {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .overflow {
    .dialog {
      width: 80%;
      gap: 20px;
      .form {
        .inputContainer {
          gap: 10px;
        }
      }
    }
  }
}
