@import "@/styles/variables.module";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .label {
    @include font-tiny;
  }

  .inputContainer {
    position: relative;

    .input {
      color: rgb($color-text);
      background-color: rgb($color-primary);
      border: 0;
      padding: 10px 20px;
      border-radius: 10px;
      width: 100%;

      &:invalid[data-focused="true"] {
        border: 1px solid #ff5151;
      }
    }

    &:has(.input:invalid[data-focused="true"]) ~ .error {
      display: block;
    }

    .iconContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: absolute;
      right: 30px;
      top: 0;

      .svg {
        cursor: pointer;
        height: 18px;
        .icon {
          color: rgb($color-text);
        }
      }
    }
  }

  .error {
    display: none;
    @include font-tiny;
    color: #ff5151;
  }
}
