@import "@/styles/variables.module";

.buttonContainer {
  border: 0;
  padding: 5px 10px;
  background-color: rgb($color-blue);
  border-radius: 10px;
  color: rgb($color-text);
  @include font-tiny;

  &:hover {
    cursor: pointer;
    background-color: rgb($color-blue-hover);
  }
}
