@import "@/styles/variables.module";

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: rgb($color-blue);
  border-radius: 10px;
  color: rgb($color-text);
  gap: 10px;

  .svg {
    height: 30px;
    .icon {
      color: rgb($color-text);
    }
  }

  .text {
    text-wrap: wrap;
  }

  &:hover {
    background-color: rgb($color-blue-hover);
    box-shadow: 0px 0px 8px rgb($color-blue-hover);
  }
}
