@import "@/styles/variables.module";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  background-color: rgb($color-blue);
  padding: 15px;
  color: rgb($color-text);
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 60px;
  box-shadow: rgb($color-blue) 0px 0px 6px;
  transition: box-shadow 0.3s;
  gap: 10px;

  .svg {
    height: 30px;
    .icon {
      color: rgb($color-text);
    }
  }

  .text {
    text-wrap: wrap;
  }

  &:hover {
    background-color: rgb($color-blue-hover);
    box-shadow: 0px 0px 8px rgb($color-blue-hover);
  }
}
@media only screen and (max-width: 600px) {
  .main {
    bottom: 20px;
    right: 30px;
  }
}
