@import "@/styles/variables.module";

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid rgb($color-border);
  padding: 10px 0;
  gap: 20px;

  .mainExerciseName {
    @include font-medium-bold;
  }

  .mainExerciseSetsContainer {
    display: flex;
    align-items: center;
    gap: 20px;

    .svg {
      margin-left: 10px;
      height: 30px;
    }
  }
}
