@import "@/styles/variables.module";

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid rgb($color-border);
  padding: 10px 0;
  gap: 20px;

  .mainExerciseName {
    background-color: rgb($color-primary);
    border-radius: 10px;
    animation: blink 1s normal 0s infinite;
    width: 200px;
    height: 20px;
  }

  .mainExerciseSetsContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
  }
}

@keyframes blink {
  0% {
    background-color: rgba(nth($color-primary, 1), nth($color-primary, 2), nth($color-primary, 3), 1);
  }
  50% {
    background-color: rgba(nth($color-primary, 1), nth($color-primary, 2), nth($color-primary, 3), 0.5);
  }
  100% {
    background-color: rgba(nth($color-primary, 1), nth($color-primary, 2), nth($color-primary, 3), 1);
  }
}

@media only screen and (max-width: 600px) {
  .main {
    .mainExerciseSetsContainer {
      gap: 10px;
    }
  }
}
