@import "@/styles/variables.module";

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid rgb($color-border);
  padding: 10px 0;
  gap: 15px;

  .mainTitleContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .mainExerciseName {
      width: 100%;
      @include font-medium-bold;
    }

    .iconContainer {
      display: flex;
      justify-content: space-between;
      width: 100px;

      .deleteSvg {
        cursor: pointer;
        height: 18px;

        .deleteIcon {
          color: rgb($color-red);
        }

        &:hover {
          .deleteIcon {
            color: rgb($color-red-hover);
          }
        }
      }
      .svg {
        cursor: pointer;
        height: 18px;

        .icon {
          color: rgb($color-blue);
        }

        &:hover {
          .icon {
            color: rgb($color-blue-hover);
          }
        }

        &[data-inactive="true"] {
          cursor: default;

          &:hover {
            .icon {
              color: rgb($color-blue);
            }
          }
        }
      }
    }
  }

  .mainExerciseSetsContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    .svg {
      margin-left: 10px;
      height: 30px;
      cursor: pointer;

      &:hover {
        .icon {
          color: #1e96ff;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    .mainTitleContainer {
      .mainExerciseName {
        @include font-small;
      }
    }
    .mainExerciseSetsContainer {
      gap: 10px;
    }
  }
}
