@import "@/styles/variables.module";

.container {
  display: flex;

  .svg {
    display: inline-block;
    height: 40px;
    aspect-ratio: 1;

    .icon {
      width: 10px;
      color: rgb($color-blue-hover);
    }
  }
}
