$color-primary: #202b3e;
$color-secondary: #0c1322;
$color-border: #2d425f;
$color-text: #e9edf5;
$color-text-accent: #a3b9d6;
$color-blue: #0a54eb;
$color-blue-hover: #116bff;

$font-ultra: 100 54px;
$font-header: 500 32px;
$font-normal: 300 24px;
$font-medium: 300 18px;
$font-small: 300 16px;
$font-smaller: 500 14px;
$font-tiny: 500 12px;

$height-navigation: 10vh;
$width-day-element: 40px;
$gap-day-picker: 20px;
