$color-primary: 32 43 62;
$color-secondary: 12 19 34;
$color-border: 45 66 95;
$color-text: 233 237 245;
$color-text-accent: 163 185 214;
$color-blue: 10 84 235;
$color-blue-hover: 17 107 255;

$width-day-element: 40px;
$gap-day-picker: 20px;

$padding-main-container: 50px 5vw;

@mixin font-medium-bold {
  font-weight: 500;
  font-size: 18px;
}

@mixin font-small {
  font-weight: 300;
  font-size: 16px;
}

@mixin font-tiny {
  font-weight: 500;
  font-size: 12px;
}
