$color-primary: 32 43 62;
$color-secondary: 12 19 34;
$color-secondary-hover: 27 42 75;
$color-border: 45 66 95;
$color-text: 233 237 245;
$color-text-accent: 163 185 214;
$color-blue: 10 84 235;
$color-blue-hover: 17 107 255;
$color-red: 255 56 56;
$color-red-hover: 255 81 81;
$color-green: 0 163 135;

$width-day-element: 40px;
$gap-day-picker: 20px;

$padding-main-container: 40px 5vw;
$padding-main-container-mobile: 20px 5vw;

@mixin font-huge-light {
  font-weight: 700;
  font-size: 144px;
}

@mixin font-bigger-light {
  font-weight: 300;
  font-size: 48px;
}

@mixin font-big-light {
  font-weight: 300;
  font-size: 36px;
}

@mixin font-normal-bold {
  font-weight: 500;
  font-size: 24px;
}

@mixin font-medium-bold {
  font-weight: 500;
  font-size: 18px;
}

@mixin font-medium {
  font-weight: 300;
  font-size: 18px;
}

@mixin font-small {
  font-weight: 300;
  font-size: 16px;
}

@mixin font-small-bold {
  font-weight: 500;
  font-size: 16px;
}

@mixin font-smaller {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
}

@mixin font-smaller-bold {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

@mixin font-tiny {
  font-weight: 500;
  font-size: 12px;
}

@mixin font-tiny-light {
  font-weight: 300;
  font-size: 12px;
}
