$color-primary: #202b3e;
$color-secondary: #0c1322;
$color-border: #2d425f;
$color-text: #e9edf5;
$color-text-accent: #a3b9d6;

$font-ultra: 100 54px;
$font-header: 500 32px;
$font-normal: 300 24px;
$font-medium: 300 18px;
$font-small: 100 16px;

$height-navigation: 10vh;
$width-day-element: 60px;
