@import "@/styles/variables.module";

.main {
  @include font-smaller;
  padding: 7px;
  border: 3px solid rgb($color-border);
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .main {
    @include font-tiny-light;
    padding: 5px;
  }
}
