@import "@/styles/variables.module";

.overflow {
  .modal {
    display: block;
    background: #10192c !important;
    width: 308px !important;
    border-radius: 0 !important;
    padding: 0 !important;
  }
}
