@import "@/styles/variables.module";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: $width-day-element;

  .mainDate {
    @include font-small;
  }

  .mainShield {
    &:hover {
      filter: brightness(115%);
      cursor: pointer;
      .mainShieldContent {
        filter: brightness(115%);
        cursor: pointer;
      }
    }
    border: 0;
    padding: 0;
    color: inherit;
    font: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb($color-primary);
    width: 100%;
    aspect-ratio: 1;
    @include font-tiny;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

    &.mainShieldSelected {
      background-color: #0e357e;
      transform: scale(1.1);
    }

    .mainShieldContent {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb($color-border);
      height: 30px;
      aspect-ratio: 1;
      clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

      &.mainShieldContentSelected {
        background-color: #0a5cc3;
      }
    }
  }
  .mainElementLabeled {
    width: 5px;
    background-color: rgb($color-text-accent);
    aspect-ratio: 1;
    border-radius: 50%;

    &.mainElementLabeledHidden {
      visibility: hidden;
    }
  }
}
