@import "@/styles/variables.module";

.main {
  @include font-small;
  padding: 10px;
  border: 3px solid rgb($color-border);
  border-radius: 10px;

  &:hover {
    border: 3px solid rgb($color-blue-hover);
    background-color: rgb($color-secondary-hover);
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    @include font-smaller;
    padding: 7px;
  }
}
