@import "@/styles/variables.module";

.main {
  height: 42px;
  width: fit-content;
  border-radius: 10px;
  animation: blink 1s normal 0s infinite;
}

@keyframes blink {
  0% {
    background-color: rgba(nth($color-primary, 1), nth($color-primary, 2), nth($color-primary, 3), 1);
  }
  50% {
    background-color: rgba(nth($color-primary, 1), nth($color-primary, 2), nth($color-primary, 3), 0.5);
  }
  100% {
    background-color: rgba(nth($color-primary, 1), nth($color-primary, 2), nth($color-primary, 3), 1);
  }
}
