@import "@/styles/variables.module";

.main {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: $color-secondary;
  gap: 20px;

  .mainOptions {
    display: flex;
    justify-content: space-between;
    width: calc($width-day-element * 7);

    .buttonHidden {
      visibility: hidden;
    }
  }

  .mainWrapper {
    display: flex;
    justify-content: center;
    width: calc($width-day-element * 7);
    overflow: hidden;
    padding-bottom: 5px;

    .mainWrapperFloating {
      display: flex;
    }
  }
}
